/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* General styles */
body {
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: whitesmoke;
  margin: 2px;
}

.hidden-heading {
  display: none;
}

/* Header */
header {
  background-color: #313131;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: whitesmoke;
}

#logo {
  color: #e50000;
}

/* Navbar */
nav {
  position: absolute;
  background-color: #313131;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  color: whitesmoke;
}

.active {
  border-bottom: 1px solid #e50000;
}

/* Main content */
main {
  flex: 1 0 auto;
  margin-top: 47px;
  display: flex;
  flex-direction: column;
}

/* Hero section */
#hero {
  height: 300px;
  width: 100%;
  background: url("images/heroimage.webp") no-repeat center bottom/cover;
  position: relative;
}

#cover-text {
  text-align: center;
  background-color: rgba(12, 12, 12, 0.5);
  border-radius: 5%;
  font-size: 110%;
  position: absolute;
  bottom: 30px;
  width: 70%;
  right: 0px;
  min-height: 200px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#cover-text > h2,
#cover-text > h3 {
  color: whitesmoke;
}

#cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  column-count: 12;
}

#button-list {
  columns: 12;
  gap: 16vw;
  /* responsive spacing between buttons */
  display: flex;
  font-family: "Oswald", sans-serif;
  justify-content: space-evenly;
  margin-top: 10px;
  list-style-type: none;
}

.cta-button-buy-tickets,
.cta-button-line-up {
  background-color: #313131;
  border: none;
  text-decoration: none;
  color: whitesmoke;
  padding: 15px 30px;
  display: inline-flex;
  font-size: 20px;
}

.cta-button-buy-tickets:hover,
.cta-button-line-up:hover {
  background-color: #e50000;
  color: #1a1a1a;
}

#btn:hover {
  background-color: #e50000;
}

/* Location section */
#location {
  display: flex;
  max-height: 500px;
  width: 100%;
  position: relative;
  background: url(images/scorrier-house.webp) no-repeat center center/cover;
}

/* About section */
#about-us {
  display: flex;
  text-align: center;
  background-color: rgba(12, 12, 12, 0.6);
  font-size: 110%;
  width: 100%;
  min-height: 200px;
  padding: 10% 5% 5% 5%;
}

/* Gallery page */
#photos {
  line-height: 0;
}

#photos img {
  width: 100%;
  line-height: 1em;
}

#top-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #e50000;
  color: white;
  padding: 5px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5%;
  font-size: 24px;
  text-decoration: none;
  z-index: 1000;
}

#top-btn:hover {
  background-color: #333;
}

/* Line-Up Page */

#lineup-heading {
  text-align: center;
  padding: 10px;
}

#line-up-video {
  display: flex;
  position: relative;
  justify-content: center;
}

#lineup-cover-text {
  text-align: center;
  background-color: rgba(12, 12, 12, 0.5);
  border-radius: 5%;
  font-size: 110%;
  position: absolute;
  justify-content: center;
  bottom: 20px;
  width: 70%;
  height: 85%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#lineup-lower-section {
  display: flex;
  height: 300px;
  width: auto;
  background-color:black;
}

#blood-red-line {
  border: 1px solid #e50000;
}

/* Sponsor section */

#sponsors {
  text-align: center;
}

#sponsors h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

#sponsor-logos {
  height: 80px;
  padding: 15px;
  z-index: 50;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  line-height: 1em;
}

#sponsor-logo,
#sponsor-logo-mh {
  display: flex;
  height: 60px;
  /* consistent height */
  max-width: 60px;
  /* prevent logos from being too wide */
  width: auto;
  /* preserve original aspect ratio */
  object-fit: contain;
  filter: brightness(120%);
  /* make logos brighter */
}

#sponsor-logo-mh {
  filter: brightness(0) invert(1); /* optional: makes logos white if SVGs are black */
  transition: transform 0.3s ease;
}

/* Footer */
#social-networks {
  background-color: #1a1a1a;
  z-index: 4;
  align-items: center;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: whitesmoke;
}

/* Media Queries */

/* Phones - min-width: 576px */
@media screen and (min-width: 576px) {
  #photos {
    column-count: 2;
    column-gap: 0;
  }
}

/* Tablets - min-width: 768px */
@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 80px;
  }

  #about-us {
    padding: 10%;
  }

  #cover-text {
    width: 300px;
    right: 50px;
  }

  #photos {
    column-count: 3;
  }

  .cta-button-buy-tickets,
  .cta-button-line-up {
    background-color: #313131;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 30px;
    display: inline-flex;
    font-size: 25px;
  }

  #sponsor-logos {
    display: flex;
    text-align: center;
    padding: 10px 10px;
    height: 120px;
    gap: 60px;
  }

  #sponsor-logo {
    height: 120px;
    max-width: 120px;
  }
}

/* Laptops - min-width: 992px */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #313131;
  }

  #logo {
    font-size: 250%;
  }

  #about-us {
    padding: 5%;
    font-size: 150%;
  }

  #photos {
    column-count: 4;
  }

  .cta-button-buy-tickets,
  .cta-button-line-up {
    background-color: #313131;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 30px;
    display: inline-flex;
    font-size: 30px;

    #sponsor-logos {
      background-color: black;
      display: flex;
      text-align: center;
      padding: 10px 10px;
      height: 150px;
      gap: 60px;
    }

    #sponsor-logo {
      height: 125px;
      /* consistent height */
      max-width: 125px;
      /* prevent logos from being too wide */
      width: auto;
      /* preserve original aspect ratio */
      object-fit: contain;
    }
  }

  /* Desktops - min-width: 1200px */
  @media screen and (min-width: 1200px) {
  }

  #menu a:hover {
    border-bottom: 1px solid #313131;
  }

  #logo {
    font-size: 260%;
  }

  #cover-text {
    font-size: 180%;
    width: 300px;
    right: 50px;
  }

  #hero {
    height: 600px;
  }

  #location {
    height: 900px;
    background: url(images/scorrier-house.webp) no-repeat center top/cover;
  }

  #about-us {
    text-align: center;
    padding: 5%;
    font-size: 30px;
    line-height: 40px;
  }

  .cta-button-buy-tickets,
  .cta-button-line-up {
    background-color: #313131;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 30px;
    display: inline-flex;
    font-size: 30px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    height: 1000px;
  }

  #top {
    height: 0.5px;
  }

  #middle {
    margin-top: 500px;
  }

  #top-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #e50000;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5%;
    font-size: 30px;
    text-decoration: none;
    z-index: 1000;
  }

  #top-btn:hover {
    background-color: #333;
  }

  #btn:hover {
    background-color: #e50000;
  }

  #sponsor-logos {
    background-color: black;
    display: flex;
    text-align: center;
    padding: 10px 10px;
    height: 150px;
    gap: 50px;
  }

  h4 {
    font-size: 40px;
  }

  #sponsor-logo {
    height: 150px;
    /* consistent height */
    max-width: 150px;
    /* prevent logos from being too wide */
    width: auto;
    /* preserve original aspect ratio */
    object-fit: contain;
  }
}
